* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;

			  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */

}

.container {
	margin: 5px;
}

header {
	background: #eee;
	margin: 5px;
	padding: 10px;
	border: 1px solid black;
}

.cardlist {
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
	width: calc(100%-10px);
	height: 167px;
}
.cardlist h2 {
	text-align: center;
	margin: 0;
}

.cardlist ul {
	list-style-type: none;
}


.btns {
	padding-top: 1px;
	float: left;
	width: 50px;
}

/* some of this may be repititious... */
.special {
	background-color: black !important;
	color: white;
	cursor: hand;
	text-align: center;
	height: 45px;
	width: 45px;
	border-radius: 10px;
	padding-top: 11px;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 25px !important;
}

.special:hover {
	background-color: #333 !important;
	z-index: 10;

}

.stack-container {
	margin-right: 5px;
}

.spread {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.cards li {
	text-align: center;
	border-radius: 10px;
	width: 100px;
	height: 100px;
	background-color: white;
	border: 1px black;
	margin: 5px;
	padding: 5px;
	padding-top: 0px;
	font-size: 55px;
	line-height: 50px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;

	cursor: move;
}

.stack li {
	position: absolute;
	left: 100px;
}

.spread li {
	display: inline-block;
	margin-right: -40px;
	cursor: move;
}


.card:hover li {
	transition: all 0.3s ease 0s;
	opacity: .7;
}

#deck > .stack:hover {
	opacity: 1 !important;
}

.spread li:not(.back):hover {
	opacity: 1;
	transition: all 0.3s ease 0s;
	z-index: 1000 !important;
	cursor: move;
}

.spread li:not(.back):active{
	-moz-box-shadow: 0 0 15px #888;
	-webkit-box-shadow: 0 0 15px#888;
	box-shadow: 0 0 15px #888;
}

.red {
	color: red;
}

.suit {
	font-size: 70px;
}







.back {
	color: transparent;
	background: url(https://thomaslmcdonald.files.wordpress.com/2010/09/3fbfd-beeback.jpg);
	background-position: center;
    cursor: no-drop !important;
}

.clickable {
	cursor: hand !important;
}

.clickable:hover {
	filter:brightness(150%);
	transition: all 0.3s ease 0s;
}

.clickable:active {
	-moz-box-shadow: 0 0 15px #888;
	-webkit-box-shadow: 0 0 15px#888;
	box-shadow: 0 0 15px #888;
}






.uuid {
	color: transparent;
	display: none;
	font-size: 4px;
}

.hidden {
	display: none;
}